<h1>Elecciones Regionales</h1>

{% if ultima_region_lista %}
    <ul>
        {% for region in ultima_region_lista %}
            <li>
                <a href="/eleccionesR/{{ region.id }}/">{{ region.nombre_region }}</a>
            </li>
        {% endfor %}

    </ul>
{% else %}
    <p>No hay registros</p>
{% endif %}